In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\MY-PC\OneDrive - Sagesse University\Desktop\Loan_Approval\loan_data.csv")  
df.info()
print(df.head())
print(df.columns )
print(df.dtypes) 
print(df.isnull().sum())
print(df.duplicated().sum())

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print(df.columns)
df['person_gender'].unique()

df = df[df['person_age'] >= 0]
df = df[df['person_income'] >= 0]
print(df['person_gender'].unique())

print(df['person_education'].unique())
print(df['person_home_ownership'].unique())
df = df[df['loan_intent'].notnull()]
print(df['loan_intent'].isnull().sum())

df = df[(df['person_emp_exp'] >= 0) & (df['person_emp_exp'] <= 60)]

df = df[df['loan_amnt'] >= 0]
print(df['loan_intent'].unique())
print(df['previous_loan_defaults_on_file'].unique())
df = df[df['loan_int_rate'] >= 0]
df = df[(df['loan_percent_income'] >= 0) & (df['loan_percent_income'] <= 60)]
df = df[df['credit_score'] >= 0]

#print(df[~df['loan_status'].isin([0, 1])])
print(df['loan_status'].unique())
print(df.shape)

df.to_csv("cleaned1_loan_data.csv", index=False)
df = pd.read_csv("cleaned1_loan_data.csv")
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB
   person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0               0
1        21.0        female      High School        12282.0               0
2        25.0        female      High School        12438.0               3
3        23.0        female         Bachelor        79753.0               0
4        24.0          male           Master        66135.0               1

  person_home_ownership  loan_amnt loan_intent  loan_int_rate  \
0                  RENT    35000.0    PERSONAL          16.02
1                   OWN     1000.0   EDUCATION          11.14
2              MORTGAGE     5500.0     MEDICAL          12.87
3                  RENT    35000.0     MEDICAL          15.23
4                  RENT    35000.0     MEDICAL          14.27

   loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                 0.49                         3.0           561
1                 0.08                         2.0           504
2                 0.44                         3.0           635
3                 0.44                         2.0           675
4                 0.53                         4.0           586

  previous_loan_defaults_on_file  loan_status
0                             No            1
1                            Yes            0
2                             No            1
3                             No            1
4                             No            1
Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')
person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object
person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64
0
Index(['person_age', 'person_gender', 'person_education', 'person_income',
       'person_emp_exp', 'person_home_ownership', 'loan_amnt', 'loan_intent',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')
['female' 'male']
['Master' 'High School' 'Bachelor' 'Associate' 'Doctorate']
['RENT' 'OWN' 'MORTGAGE' 'OTHER']
0
['PERSONAL' 'EDUCATION' 'MEDICAL' 'VENTURE' 'HOMEIMPROVEMENT'
 'DEBTCONSOLIDATION']
['No' 'Yes']
[1 0]
(44990, 14)
(44990, 14)

In [2]:
df['loan_status'].value_counts(normalize=True)

loan_status
0    0.777728
1    0.222272
Name: proportion, dtype: float64

In [3]:
df.groupby('person_gender')['loan_status'].mean()

person_gender
female    0.222503
male      0.222084
Name: loan_status, dtype: float64

In [4]:
df.groupby('loan_status')['credit_score'].mean()

loan_status
0    632.77585
1    631.88720
Name: credit_score, dtype: float64

In [5]:
df.groupby('loan_status')['person_income'].mean()

loan_status
0    85631.2511
1    59886.0969
Name: person_income, dtype: float64

In [6]:
print(df['person_income'].describe())

count    4.499000e+04
mean     7.990883e+04
std      6.332359e+04
min      8.000000e+03
25%      4.719575e+04
50%      6.704550e+04
75%      9.577700e+04
max      2.448661e+06
Name: person_income, dtype: float64

In [7]:
df['loan_status'] = df['loan_status'].apply(lambda x: 1 if x == 0 else 0)
df['loan_status'] = df['loan_status'].replace({0: 'Rejected', 1: 'Approved'})
print(df.groupby('loan_status')['person_income'].mean())

loan_status
Approved    85631.2511
Rejected    59886.0969
Name: person_income, dtype: float64

In [8]:
df.shape

(44990, 14)

In [9]:
print(df['person_home_ownership'].unique())

['RENT' 'OWN' 'MORTGAGE' 'OTHER']